<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880923941591-bj8ssuq2cakr05v4o7nrf0vqfvtql9ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880923941591-bj8ssuq2cakr05v4o7nrf0vqfvtql9ai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>880923941591-26qotdpltiuvhnvvp668mqqhqopismnj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOdh1uVSWyUqSLdjBUHnDWJ_06oX207pc</string>
	<key>GCM_SENDER_ID</key>
	<string>880923941591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alatheertech.Noamany</string>
	<key>PROJECT_ID</key>
	<string>noamany-5ac59</string>
	<key>STORAGE_BUCKET</key>
	<string>noamany-5ac59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880923941591:ios:cf13ad14375a577c31ee92</string>
	<key>DATABASE_URL</key>
	<string>https://noamany-5ac59-default-rtdb.firebaseio.com</string>
</dict>
</plist>